<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>


<%= link_to 'Edit Task', edit_task_path(@task) %> 
<%= link_to 'Delete Task', task_path(@task), 
  :method => :delete, 
  :confirm => 'Are you sure?' %>

<table id="steps">
  <th>Steps</th>
  <% @task.steps.sort_by{|step| step.number}.each do |step| %>
  <tr>
    <td><%= step.number %>. <%= link_to step.summary, [@task, step] %></td>
  </tr>
  <% end %>
</table>
<%= link_to "New Step", new_task_step_path(@task) %> <br />
<%= link_to 'Back', tasks_path %>
